$breakpoint-mobile: 320px;
$breakpoint-mobile-horizontal: 500px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-height: 950px;
$breakpoint-laptop: 1024px;
$breakpoint-bigLaptop-min: 1367px;
$breakpoint-bigLaptop: 1440px;
$breakpoint-desktop: 1680px;
