$color-black: #07060f;
$color-gray: #4c4858;
$color-light-gray: #837878bf;
$color-white: #eeeeee;
$color-indigo: #262135;
$color-rebecca-purple: #251a2d;
$color-blue-violet: #6632cb;
$color-magenta: #9542ee;
$color-orchid: #ab31ed;
