@use './reset';
@use './variables' as *;
@use './colors' as *;
@use './fonts' as *;
@use './mixins' as *;

html {
  height: $global-height;
  width: $global-width;
  background: #ffffff;
  color: $color-white;
  scrollbar-width: none;
  -ms-overflow-style: none;
  touch-action: manipulation !important; // disable double tap zoom

  *::selection,
  *::target-text {
    background-color: $color-magenta;
    color: $color-white;
  }
}

body,
#__nuxt {
  position: relative;
  height: $global-height;
  width: $global-width;
  overflow: hidden;
  font-family: 'sora', sans-serif;
  overscroll-behavior: none;
  font-size: 15px; // default
  scrollbar-width: none;
  -ms-overflow-style: none;
  background: $color-black;

  &.grabbing-cursor {
    cursor: grabbing !important;

    * {
      cursor: grabbing !important;
    }
  }
}
