@mixin has-hover() {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin has-touch() {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
