@use 'eases';
@use 'sass:map';

$transition-time: 0.65s;
$default-ease: eases.$easePower3Out;

$global-height: 600px;
$global-width: 400px;

$z-index: (
  'header': 10
);

@function z($key) {
  @return map.get($z-index, $key);
}
