@use 'eases';
@use 'sass:map';

$transition-time: 0.85s;
$default-ease: eases.$easePower3Out;

$global-height: 540px;
$global-width: 380px;

$footer-height: 40px;

$z-index: (
  'footer': 10
);

@function z($key) {
  @return map.get($z-index, $key);
}
