#main-global-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#262135 0, #251a2d 0, #07060F 40%);
  z-index: 1;

  .main-title-wrapper {
    position: relative;
    margin-top: 35px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;

    .left-part {
      position: relative;

      p {
        font-family: 'Roboto', sans-serif;
        font-size: 27px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0;
        text-align: left;
        color: white;
        white-space: nowrap;

        &::first-line {
          color: #9542ee;
          font-size: 23px;
        }

      }

    }

    .right-part {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: end;
      flex-grow: 1;

      #add-wrapper {
        position: relative;
        height: 40px;
        width: 40px;
        border-radius: 7px;
        background: linear-gradient(50deg, rgb(102, 50, 203) 0%, rgba(149, 66, 238, 1) 70%);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .image-plus {
          position: relative;
          height: 15px;
          width: 15px;
        }

      }

    }

  }

  #todos-global-wrapper {
    position: relative;
    height: 363px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 20px 0 15px;
    /*
    position: relative;
    height: 373px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 35px 20px 20px 15px;
     */

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }

    .todos-wrapper {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-bottom: 15px;

      .todos-checkbox {
        cursor: pointer;
        transform: scale(0.72);
        transition: 0.35s all ease-in-out;

        &:hover .checkbox_check {
          background: #9542ee;
          border: 0.2rem solid #9542ee;
          transition: 0.35s all ease-in-out;
        }

        .checkbox_input {
          width: 0;
          height: 0;
          opacity: 0;
          display: none;
        }

        .checkbox_input:checked + .checkbox_check {
          background: #9542ee;
          border: 0.2rem solid #9542ee;
          stroke-dashoffset: 0;
        }

        .checkbox_check {
          border: 0.2rem solid #837878bf;
          stroke: white;
          stroke-dasharray: 25;
          stroke-dashoffset: 25;
          stroke-linecap: round;
          stroke-width: 0.2em;
          border-radius: 0.2em;
          fill: none;
          transition: 0.35s all ease-in-out;

        }

      }

      .todos-right-wrapper {
        position: relative;
        top: 0;
        left: 0;
        margin-left: 10px;
        padding: 15px 0;
        border-radius: 9px;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-grow: 1;
        background: #4c485870;
        transition: 0.35s all ease-in-out;
        box-shadow: 0 13.1px 6.1px -33px rgba(0, 0, 0, 0.027),
        0px 26.3px 12.1px -33px rgba(0, 0, 0, 0.054),
        0px 40.3px 18.3px -33px rgba(0, 0, 0, 0.084),
        0px 53.2px 24.7px -33px rgba(0, 0, 0, 0.112),
        0px 66px 31px -33px rgba(0, 0, 0, 0.14);

        &.checked {
          background: #336AF1;
          transition: 0.35s all ease-in-out;
        }

        .todos-image-wrapper {
          position: relative;
          height: 33px;
          width: 33px;
          margin-left: 10px;
          margin-right: 15px;
          border-radius: 7px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            position: relative;
            height: 65%;
          }

        }

        .todos-right-main-wrapper {
          position: relative;
          width: 210px;
          margin-right: 15px;
          display: flex;
          align-items: center;
          justify-content: left;
          overflow: hidden;

          .todos-h1 {
            position: relative;
            font-family: 'Roboto', sans-serif;
            font-size: 17px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0;
            text-align: left;
            color: white;

            &:first-letter {
              text-transform: uppercase;
            }

          }

        }

        .todos-right-time-wrapper {
          position: relative;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            position: relative;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: white;
          }

        }

        .todos-right-color-wrapper {
          position: absolute;
          right: 0;
          height: 100%;
          width: 10px;
          border-radius: 0 7px 7px 0;

          &.checked {
            background: #336AF1 !important;
            transition: 0.35s all ease-in-out;
          }

        }

      }

    }

  }

  .hide-last-todo {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 100%;
    //background: linear-gradient(0deg, rgba(7,6,15,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(0deg, rgba(7,6,15,1) 50%, rgba(255,255,255,0) 100%);
  }

}