* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  height: 600px;
  width: 320px;
  background-color: #07060F;
}

#main-global-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-image: linear-gradient(#262135 0, #251a2d 0, #07060F 40%);
}
#main-global-wrapper::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
#main-global-wrapper.active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background: #07060F;
}
#main-global-wrapper .main-title-wrapper {
  position: relative;
  margin: 45px 0 0 15px;
  width: 250px;
  font-family: ubuntu, serif;
  letter-spacing: 0.3px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: white;
}
#main-global-wrapper .main-title-wrapper p {
  font-family: ubuntu, serif;
  letter-spacing: 0.3px;
  font-size: 22px;
  font-weight: 600;
  color: #9542ee;
}
#main-global-wrapper #todos-global-wrapper {
  position: absolute;
  top: 140px;
  left: 5px;
  width: 280px;
}
#main-global-wrapper #todos-global-wrapper .todos-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
#main-global-wrapper #todos-global-wrapper .todos-wrapper .todos-left-wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-global-wrapper #todos-global-wrapper .todos-wrapper .todos-left-wrapper input[type=checkbox] {
  height: 18px;
  width: 18px;
  appearance: none;
  background: white;
  outline: none;
  border-radius: 5px;
}
#main-global-wrapper #todos-global-wrapper .todos-wrapper .todos-left-wrapper input[type=checkbox]:checked {
  background: yellowgreen;
}
#main-global-wrapper #todos-global-wrapper .todos-wrapper .todos-right-wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  width: 270px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  background: #4c485870;
}
#main-global-wrapper #todos-global-wrapper .todos-wrapper .todos-right-wrapper .todos-right-image-wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  width: 55px;
  border-radius: 12.5px 0 0 12.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-global-wrapper #todos-global-wrapper .todos-wrapper .todos-right-wrapper .todos-right-image-wrapper .todos-image-wrapper {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-global-wrapper #todos-global-wrapper .todos-wrapper .todos-right-wrapper .todos-right-image-wrapper .todos-image-wrapper img {
  position: relative;
  height: 65%;
}
#main-global-wrapper #todos-global-wrapper .todos-wrapper .todos-right-wrapper .todos-right-main-wrapper {
  position: relative;
  height: 60px;
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: left;
}
#main-global-wrapper #todos-global-wrapper .todos-wrapper .todos-right-wrapper .todos-right-main-wrapper .todos-h1 {
  position: relative;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
#main-global-wrapper #todos-global-wrapper .todos-wrapper .todos-right-wrapper .todos-right-time-wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  width: 80px;
  border-radius: 0 12.5px 12.5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-global-wrapper #todos-global-wrapper .todos-wrapper .todos-right-wrapper .todos-right-time-wrapper p {
  position: relative;
  color: white;
  font-family: ubuntu, serif;
  font-size: 14px;
  font-weight: 100;
}
#main-global-wrapper #footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background-color: #07060F;
  z-index: 10;
  box-shadow: 0px -20px 75px 5px rgba(0, 0, 0, 0.85);
}
#main-global-wrapper #footer #icon-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 225px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#main-global-wrapper #footer #icon-wrapper .image {
  position: relative;
  height: 100%;
}
#main-global-wrapper #footer #icon-wrapper #add-wrapper {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background: linear-gradient(50deg, #6632cb 0%, #9542ee 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#main-global-wrapper #footer #icon-wrapper #add-wrapper .image-plus {
  position: relative;
  height: 15px;
  width: 15px;
}

#add-global-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  background: #07060F;
  padding: 0 17.5px;
}
#add-global-wrapper.active {
  visibility: visible;
  opacity: 1;
  background-image: linear-gradient(#262135 0, #251a2d 0, #07060F 40%);
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.35s;
  padding: 0 15px;
}
#add-global-wrapper .back-arrow-wrapper {
  position: relative;
  margin-top: 45px;
  height: 20px;
  width: 30px;
  background: url("image/right-arrow.png") center/cover no-repeat;
  cursor: pointer;
}
#add-global-wrapper .add-title-wrapper {
  position: relative;
  margin-top: 30px;
}
#add-global-wrapper .add-title-wrapper h3 {
  font-family: ubuntu, serif;
  letter-spacing: 0.3px;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  color: white;
}
#add-global-wrapper form #searchInput {
  position: relative;
  margin-top: 30px;
  left: 0;
  height: 50px;
  width: 100%;
  border-radius: 12px;
  border: none;
  background: #4c485870;
  color: #FFFFFF;
  text-indent: 15px;
}
#add-global-wrapper form #searchInput:focus {
  border: none;
  outline: none;
  text-indent: 15px;
}
#add-global-wrapper form #searchInput::placeholder {
  text-indent: 15px;
  color: #FFFFFF60;
}
#add-global-wrapper form #delete {
  position: relative;
  top: 200px;
  margin: 0 auto;
  height: 30px;
  width: 75px;
  cursor: pointer;
}
#add-global-wrapper .category-wrapper {
  position: relative;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
}
#add-global-wrapper .category-wrapper h3 {
  position: relative;
  margin-bottom: 15px;
  font-family: ubuntu, serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
}
#add-global-wrapper .category-wrapper .all-categories-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 250px;
}
#add-global-wrapper .category-wrapper .all-categories-wrapper div {
  position: relative;
  border-radius: 7px;
  padding: 10px 15px;
  font-family: ubuntu, serif;
  font-size: 14px;
  font-weight: 300;
  color: white;
  cursor: pointer;
  transition: 0.35s all ease-in-out;
}
#add-global-wrapper .category-wrapper .all-categories-wrapper div.active {
  filter: grayscale(80%);
  transition: 0.35s all ease-in-out;
}
#add-global-wrapper .category-wrapper .all-categories-wrapper .food {
  background: #f4686a;
  margin-right: 10px;
}
#add-global-wrapper .category-wrapper .all-categories-wrapper .workout {
  background: #e79131;
  margin-right: 10px;
}
#add-global-wrapper .category-wrapper .all-categories-wrapper .work {
  background: #6254f4;
}
#add-global-wrapper .category-wrapper .all-categories-wrapper .education {
  background: #234cb5;
  margin-top: 10px;
  margin-right: 10px;
}
#add-global-wrapper .category-wrapper .all-categories-wrapper .others {
  margin-top: 10px;
  background: #2abfd0;
}
#add-global-wrapper #createTaskButton {
  position: absolute;
  cursor: pointer;
  bottom: 32px;
  width: calc(100% - 30px);
  padding: 12.5px 0;
  border: none;
  background: linear-gradient(30deg, #6632cb 0%, #ab31ed 70%);
  border-radius: 7px;
  font-family: ubuntu, serif;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

/*# sourceMappingURL=style.css.map */
