* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 600px;
  width: 350px;
  background-color: #07060F;
}

.image {
  position: relative;
  height: 100%;
}

/////////////////////////////////////////////// MAIN ///////////////////////////////////////////////////

#main {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#262135 0, #251a2d 0, #07060F 40%);

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

#todos-global-wrapper {
  position: absolute;
  top: 125px;
  left: 20px;
  height: 625px;
  width: 310px;
  background-color: red;
}

.todos-wrapper {
  position: relative;
  top: 0;
  left: 0;
  min-height: 60px;
  width: 100%;
  background-color: blue;
  border-bottom: solid 2px green;
  display: flex;
  flex-direction: row;
}

.todos-left-wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  width: 40px;
  background-color: brown;
}

.todos-right-wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  width: 270px;
  background-color: yellow;
}

#delete {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 75px;
  cursor: pointer;
}

///////////////////////////////////////////// FOOTER /////////////////////////////////////////////////

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background-color: #07060F;
  z-index: 10;
}

#icon-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 225px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#add-wrapper {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background: linear-gradient(50deg, rgb(102, 50, 203) 0%, rgba(149,66,238,1) 70%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-plus {
  position: relative;
  height: 15px;
  width: 15px;
}