* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  height: 600px;
  width: 350px;
  background-color: #07060F;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////// MAIN ///////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////


#main-global-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-image: linear-gradient(#262135 0, #251a2d 0, #07060F 40%);

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  &.active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background: #07060F;
  }

  #todos-global-wrapper {
    position: absolute;
    top: 125px;
    left: 5px;
    height: 625px;
    width: 330px;

    .todos-wrapper {
      position: relative;
      top: 0;
      left: 0;
      min-height: 60px;
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-bottom: 8.5px;

      .todos-left-wrapper {
        position: relative;
        top: 0;
        left: 0;
        height: 60px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        input[type="checkbox"] {
          height: 18px;
          width: 18px;
          appearance: none;
          background: white;
          outline: none;
          border-radius: 5px;

          &:checked {
            background: yellowgreen;
          }

        }
      }

      .todos-right-wrapper {
        position: relative;
        top: 0;
        left: 0;
        height: 60px;
        width: 290px;
        border-radius: 12.5px;
        display: flex;
        flex-direction: row;
        background: rgba(104, 100, 107, 0.35);

        .todos-right-image-wrapper {
          position: relative;
          top: 0;
          left: 0;
          height: 60px;
          width: 55px;
          border-radius: 12.5px 0 0 12.5px;
          display: flex;
          align-items: center;
          justify-content: center;

          .todos-image-wrapper {
            position: relative;
            height: 30px;
            width: 30px;
            background-color: #9542ee;
            border-radius: 7.5px;
          }

        }

        .todos-right-main-wrapper {
          position: relative;
          height: 60px;
          width: 190px;
          display: flex;
          align-items: center;
          justify-content: left;

          .todos-h1 {
            position: relative;
            color: white;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 600;
          }

        }

        .todos-right-time-wrapper {
          position: relative;
          top: 0;
          left: 0;
          height: 60px;
          width: 80px;
          background-color: deeppink;
          border-radius: 0 12.5px 12.5px 0;
        }

      }

    }

  }

  #footer {
     position: fixed;
     bottom: 0;
     left: 0;
     height: 75px;
     width: 100%;
     background-color: #07060F;
     z-index: 10;

     #icon-wrapper {
       position: relative;
       top: 50%;
       left: 50%;
       height: 20px;
       width: 225px;
       transform: translate(-50%, -50%);
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;

       .image {
         position: relative;
         height: 100%;
       }

       #add-wrapper {
         position: relative;
         height: 40px;
         width: 40px;
         border-radius: 100px;
         background: linear-gradient(50deg, rgb(102, 50, 203) 0%, rgba(149, 66, 238, 1) 70%);
         display: flex;
         justify-content: center;
         align-items: center;

         .image-plus {
           position: relative;
           height: 15px;
           width: 15px;
         }

       }

     }

   }

}


////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////// ADD GLOBAL WRAPPER //////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////


#add-global-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  background: #07060F;

  &.active {
    visibility: visible;
    opacity: 1;
    background-image: linear-gradient(#262135 0, #251a2d 0, #07060F 40%);
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.35s;
  }

  form {

    #delete {
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      width: 75px;
      cursor: pointer;
    }

  }

}